<nav>
    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
        <button md-button color="primary" class="home-button">Inicio</button>
    </a>
    <a href="#consiguelo" >
        <button md-button color="primary" class="home-button">Busco empleo</button>
    </a>
    <a href="#consiguelo" >
        <button md-button color="primary" class="home-button">Busco empleados</button>
    </a>
    <!--<a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
        <button md-button color="primary" class="home-button">Acerca de</button>
    </a>-->
</nav>